<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<%=yield %> 
<form action="/answer">
  <input type="text" id ="questionForm" name="question">
  <input type="submit" id="submitButton" value="Ask">
</form>