// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 550;
}

p {
    font-weight: lighter;
    font-size: 18px;
}

#questionForm {
    height: 50px;
    width: 800px;
    border-radius: 5px;
    border-color: lightgray;
    border-width: 1px;
}

#submitButton {
    height: 57.5px;
    width: 90px;
    background-color: rgb(5, 111, 160);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: -90px;
    border-color: lightgray;
    border-width: 1px;
    padding: 0px;
    font-size: larger;
}